<section class="ftco-section contact-section">
    <div class="container mt-5">
        <h1>Array test</h1>
        <h3>Name: {{fNameA}} {{lNameA}}</h3>
        <h3>Age: {{ageA}} years old</h3>
        <h3>From: {{countryA}}</h3>
        <h3>Live in: {{cityA}}</h3>
        <h3>All data: {{allDataA}}</h3>

    </div>

    <div class="container mt-5">
        <h1>Object test</h1>
        <h3>Name: {{fNameO}} {{lNameO}}</h3>
        <h3>Age: {{ageO}} years old</h3>
        <h3>From: {{countryO}}</h3>
        <h3>Live in: {{cityO}}</h3>
        <h3>All data: {{allDataO}}</h3>
    </div>
</section>